@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<div>
    <h4 class="display-4">User Registration</h4>
    <hr/>
    <div class="text-center">
        <form asp-action="Register" asp-controller="Account" method="post">
            <div class="alert-danger" asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="UserName" class="form-label">Username :</label>
                <input asp-for="UserName"/>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="form-label">Password :</label>
                <input asp-for="Password" type="password" />
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="form-label">ConfirmPassword :</label>
                <input asp-for="ConfirmPassword" type="password" />
            </div>
            <button class="btn btn-outline-danger" type="submit">Register</button>
        </form>
    </div>
</div>
